@model IEnumerable<cv2job.Models.Anuncio>

@{
	ViewBag.Title = "Index";
}


<div class="page-head">
		<!-- Page heading -->
		  <h2 class="pull-left">Index 
		  <!-- page meta -->
		  <span class="page-meta"></span>
		</h2>


		<!-- Breadcrumb -->
		<div class="bread-crumb pull-right">
		  <a href="index.html"><i class="icon-home"></i> Home</a> 
		  <!-- Divider -->
		  <span class="divider">/</span> 
		  <a href="#" class="bread-current">Dashboard</a>
		</div>

		<div class="clearfix"></div>

		</div>



<div class="matter">
	<div class="container-fluid">
		
	<div class="row-fluid">
		
<p>
	@Html.ActionLink("Create New", "Create")
</p>

	</div>

<table>
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Titulo)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Descricao)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.InfoAdiconal)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.TipoEmprego)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.eRenumerado)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Renumeracao)
		</th>
		<th></th>
	</tr>

@foreach (var item in Model) {
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.Titulo)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Descricao)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.InfoAdiconal)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.TipoEmprego)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.eRenumerado)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Renumeracao)
		</td>
		<td>
			@Html.ActionLink("Edit", "Edit", new { id=item.AnuncioID }) |
			@Html.ActionLink("Details", "Details", new { id=item.AnuncioID }) |
			@Html.ActionLink("Delete", "Delete", new { id=item.AnuncioID })
		</td>
	</tr>
}

</table>

	</div>
</div>
