@model cv2job.Models.Corporacao

@{
    ViewBag.Title = "Details";
}
@using PagedList.Mvc;
@using PagedList;

<script type="text/javascript">
    function initialize() {
        var mapOptions = {
            center: new google.maps.LatLng(-34.397, 150.644),
            zoom: 8,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementsByClassName("gmap"),
            mapOptions);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>

<!--
<h2>Details</h2>

<fieldset>
    <legend>Corporacao</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Descricao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descricao)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CorpID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
    -->

<style type="text/css">
    #map-canvas {
        height: 100%;
    }
</style>
<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCoGKGxE6KNqZCGi_qZPt10WPoMJeDPD54&sensor=true">
</script>
<script type="text/javascript">

    var map;

    function initialize() {
        var mapOptions = {
            zoom: 12,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        // Try HTML5 geolocation
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var pos = new google.maps.LatLng(position.coords.latitude,
                                                 position.coords.longitude);

                var infowindow = new google.maps.InfoWindow({
                    map: map,
                    position: pos,
                });

                map.setCenter(pos);
            }, function () {
                handleNoGeolocation(true);
            });
        } else {
            // Browser doesn't support Geolocation
            handleNoGeolocation(false);
        }
    }

    function handleNoGeolocation(errorFlag) {
        if (errorFlag) {
            var content = 'Error: The Geolocation service failed.';
        } else {
            var content = 'Error: Your browser doesn\'t support geolocation.';
        }

        var options = {
            map: map,
            position: new google.maps.LatLng(60, 105),
            content: content
        };

        var infowindow = new google.maps.InfoWindow(options);
        map.setCenter(options.position);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>



<div class="matter">
    <div class="container-fluid">

        <!--------------------------------------------------------------------------------------------- COMECA AQUI---------------------------------------------------------->



        <!--     <div class="page">  
        </div>-->

        <div class="grid">
            <div class="row ">
                <div class="span12" itemscope="" itemtype="http://schema.org/Person">
                    <div class="pull-left">
                        <div class="span8" id="intro" style="margin-left: 0px;">
                            <br>
                            <h1>
                                <span itemprop="name">@Model.Nome</span><br>
                            </h1>
                            <div style="padding-top: 5%"></div>
                             <p itemprop="address" itemscope="" itemtype="http://schema.org/Address">
                                    <span itemprop="street-address">@Model.Morada @Model.CodPostal @Model.Cidade</span>
                                </p>
                            <i class="icon-arrow-right-3 fg-color-blueLight" id="arrow1"></i>
                            <ul class="unstyled">
                                <li>
                                    <i class="icon-link"></i><a href="@Model.Website" target="_blank" itemprop="url">@Model.Website</a>
                                </li>
                                <li>
                                    <i class="icon-envelope-alt"></i><a href="mailto:@Model.Email">@Model.Email</a>
                                </li>
                                <li>
                                    <i class="icon-mobile-phone"></i>&nbsp;@Model.Contacto
                                </li>
                                <li>
                                    <i class="icon-briefcase"></i>@Model.Sector
                                </li>
                            </ul>

                        </div>

                    </div>
                    <div class="pull-right">
                        <div class="span4">
                            <img src="@(Model.PathLogo == null ? "" : Model.PathLogo)" alt="me" itemprop="photo" style="padding-top: 15%">
                            <div class="widget wblue">
                                <div class="widget-head">
                                    <div class="pull-left">Localização</div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="widget-content" style="display: block; height: 300px">
                                    <div id="map-canvas" />
                                </div>
                            </div>

                            <button type="button" class="command-button bg-color-blueDark fg-color-white"
                                id="download" onclick="javascript:pdf_url = location.href;
                                location.href = 'http://pdfmyurl.com?url=' + escape(pdf_url) + '&amp;-O=Portrait&amp;--print-media-type'">
                                <i class="icon-eye-open"></i>
                                Seguir
                            </button>
                        </div>
                    </div>
                </div>
                <div class="span7" itemscope="" itemtype="http://schema.org/Person">
                    <h2>Sobre</h2>
                    <div class="hero-unit">
                        <p>
                            @Model.Descricao

                        </p>

                    </div>
                </div>

            </div>

        </div>


        <div class="row">
            <div class="span12">
                <div class="pull-left">
                    <div class="span7">
                        <div class="widget worange">
                            <!-- Widget title -->
                            <div class="widget-head">
                                <div class="pull-left">Últimos Anúncios</div>

                                <div class="clearfix"></div>
                            </div>

                            <div class="widget-content">
                                <!-- Widget content -->
                                <div class="padd">

                                    <ul class="recent">

                                        @foreach (var item in ViewBag.AnunciosCriados)
                                        {
                                            <li>

                                                <div class="recent-content">
                                                    <div class="recent-meta">@item.Criado.ToShortDateString()</div>
                                                    <div>
                                                        <a href="/Anuncios/Details/@item.AnuncioID"> @item.Cargo</a>
                                                    </div>

                                                    <div class="clearfix"></div>
                                                </div>
                                            </li>

                                        }



                                    </ul>

                                </div>
                            </div>

                            <!-- Widget footer -->
                            <div class="widget-foot">

                                <div class="pull-right" style="margin-top: -1%; margin-bottom: -1%;">
                                    @Html.PagedListPager((IPagedList)ViewBag.AnunciosCriados, page => Url.Action("Gerir", new { page = page }))
                                </div>
                                <div class="clearfix"></div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="pull-right">
                    <div class="span4">
                        <h2>Others</h2>
                        <p>Bacon ipsum dolor sit amet tongue pork loin turducken turkey tail. Short loin fatback jerky bacon drumstick leberkas kielbasa t-bone ball tip. Chicken ribeye capicola ham hock pork. Rump pancetta salami cow hamburger t-bone turducken ball tip pork loin short loin. Filet mignon tail strip steak beef.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- <footer>
            <div class="nav-bar">
                <div class="nav-bar-inner padding10">
                    <span class="element">John Doe - <i class="icon-mail-2"></i>zied.hosni.mail@gmail.com
                    </span>
                    <i class="icon-arrow-left-3 place-right fg-color-white" style="font-size: 44px"></i>
                </div>
            </div>
        </footer>-->


        <!--------------------------------------------------------------------------------------------- ACABA AQUI---------------------------------------------------------->


    </div>

    <!-- Matter ends -->

</div>






